body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color: #333;
	text-align:center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

#main {
	width: 200px;
	height: 350px;
}

#ayaka {
	width: 200px;
	height: 200px;
}

a {
	text-decoration: none;
	color: #C34242;
}

a:hover {
	text-decoration: underline;
}
