body {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color: #333;
}

p {
	text-align:center;
}

h1 {
	font-size: 28px;
	text-align:center;
}

#main {
	width: 200px;
	height: 400px;
}

#ayaka {
	width: 200px;
	height: 200px;
}

.twitter {
	font-size: 18px;
}

.project {
	font-size: 18px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -100px;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	font-style: italic;
}